.no-left-padding {
  padding-left: 0 !important;
}

.button-left-padding {
  margin-left: 10px !important;
}

.submit-button-style {
  margin-right: 10px;
}

.btn-danger, .btn-danger:hover, .btn-danger:focus, .btn-danger.focus,
  .btn-danger:active, .btn-danger.active, .btn-danger:visited,
  .btn-danger:active:hover, .btn-danger.active:hover{
      background-color: #8C1D40 !important;
      border-color: #8C1D40 !important;
  }

.try-again-container {
  margin-top: 10px;
}

.list-group-item {
  cursor: pointer;
}

.question-text {
  font-size: 20px;
  color: #8C1D40;
  font-weight: bold;
}

.score-text {
  font-size: 30px;
  color: #8C1D40;
  font-weight: bold;
}

.selected-answer {
  background-color: #FFC627 !important;
}


.btn-facebook, .btn-facebook:focus, .btn-facebook.focus,
.btn-facebook:active, .btn-facebook.active, .btn-facebook:visited,
.btn-facebook:active:hover, .btn-facebook.active:hover{
    background-color: #3b5998 !important;
    border-color: #3b5998 !important;
    color: #fff !important;
}

.btn-twitter, .btn-twitter:hover, .btn-twitter:focus, .btn-twitter.focus,
  .btn-twitter:active, .btn-twitter.active, .btn-twitter:visited,
  .btn-twitter:active:hover, .btn-twitter.active:hover{
      background-color: #55acee !important;
      border-color: #55acee !important;
      color: #fff !important;
      margin-left: 10px;
  }
