.no-left-padding {
  padding-left: 0 !important;
}

.button-left-padding {
  margin-left: 10px !important;
}

.submit-button-style {
  margin-right: 10px;
}

.btn-danger, .btn-danger:hover, .btn-danger:focus, .btn-danger.focus,
  .btn-danger:active, .btn-danger.active, .btn-danger:visited,
  .btn-danger:active:hover, .btn-danger.active:hover{
      background-color: #8C1D40 !important;
      border-color: #8C1D40 !important;
  }

.try-again-container {
  margin-top: 10px;
}

.list-group-item {
  cursor: pointer;
}

.question-text {
  font-size: 20px;
  color: #8C1D40;
  font-weight: bold;
}

.score-text {
  font-size: 30px;
  color: #8C1D40;
  font-weight: bold;
}

.selected-answer {
  background-color: #FFC627 !important;
}
